{% extends 'base.html' %}
{% block head %}
    {{ super() }}
{% endblock head %}
{% block title%} Login {% endblock %}

{% block content %}

<div class="row">
    {% with messages = get_flashed_messages() %}
    {% if  messages %}
    <div class="row error-page">
        <ul class=flashes>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
            </ul>
    </div>
    {% endif %}
    {% endwith %}

        
    <div class="progress hide">
        <div class="indeterminate"></div>
    </div>

    <form action="/login/" class="col s12" method="POST" id='login'>
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <div class="input-field col s12">
                <input id="user" type="text" class='validate' name='user' minlength="5" required>
                <label for="user">Email ou Usuário</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
              <input id="password" type="password" class="validate" name='password' minlength="5" required>
              <label for="password">Senha</label>
            </div>
        </div>

    <div class="buttons">
        <a class="btn waves-effect waves-light" href='{{ url_for("cadastro")}}'>Cadastrar
            <i class="material-icons left">add</i>
        </a>

        <a class="waves-effect waves-teal btn-flat" href='{{ url_for("resetPassword")}}'>Esqueci a senha
        </a>

        <button class="btn waves-effect waves-light disabled" type="submit" name="entrar">Entrar
            <i class="material-icons right">send</i>
        </button>
    </div>
    </form>
</div>

{% endblock content %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript" src="/js/login.js"></script>
{% endblock scripts %}